.root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  padding: 1%;
}

.root-without-content {
  align-items: center;
  justify-content: center;
}

.app-info {
  display: flex;
  align-items: center;
}

.app-info img {
  width: 65px;
  height: 65px;
}

.app-info > div * {
  padding: 0px;
  margin: 0px;
}
.app-info > div p {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.search-elements {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .search-elements .git-input {
    padding: 0.6em 0.3em 0.6em 0.3em;
  }
}

.card-list-root {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 20px;
  column-gap: 20px;
  padding-top: 20px;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .card-list-root {
    margin-top: 10px;
    grid-template-columns: 45% 45%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 0px;
  }
}
